.loader{
    margin: auto;
    margin-top: 50px;
}
.cocktails-container{
    margin-top: 50px;
    margin: auto;
    /* max-width: 50vw; */
    /* background-image: linear-gradient(to right,rgb(152, 152, 158),black); */
}