.navbar{
    background-color: brown;
    height:67px;
}
.logo{
    /* border-radius: p; */
    animation-name: logo;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    }
@keyframes logo {
    from{
        border-radius: 50%;
    }
    to{
        border-radius: 10px;
    }
}