.images{
    width:50vw;
    height:250px;
    border-radius: 50%;
}
.cocktail-list{
    display: grid;
    /* margin-left: 20px; */

    grid-template-columns: auto auto auto;
    gap:0.2rem;
}
.img-container{
    background-color: rgb(0, 0, 0);
    height: 330px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px gray;
    margin: 0;
    padding: 0;
}
.cocktail-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name{
    font-size: 19px;
    font-family:cursive;
    color: brown;
    font-weight: 800;
}
.glass{
    font-size: 12px;
    font-family:cursive;
    border-bottom: 1px solid;
    border-color:rgb(249, 250, 245);;
    color: rgb(245, 245, 245);
}
.info{
    font-size: 12px;
    border-bottom: 1px solid;
    border-color: black;
    font-family:cursive;
    color: rgb(17, 3, 3);
}
.button{
    width:8vw;
    height:3vh;
    font-size: 12px;
    background-color: rgb(165, 182, 11);
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
@media screen and (min-width: 462px) and (max-width: 670px) {
    .cocktail-list{
        display: grid;
        grid-template-columns: auto ;
    }
    .images{
        height:30vh;
        border-radius: 5% 5% 0% 0%;
    }
    .img-container{
        height: 300px;
        width:50vw;
        margin: auto;
        margin-top: 15px;
        border-radius: 5%;
    }
    .button{
        width:17vw;
    font-size: 15px;
    }
    .name{
        font-size: 25px;
    }
    .glass{
        font-size: 18px;
        margin-top: -15px;
    }

}


@media screen and (min-width: 671px) and (max-width: 800px) {
    .cocktail-list{
        display: grid;
        margin: auto;
        /* margin-left: 5px; */
        grid-template-columns: auto auto ;
        margin-bottom: 10px;
    }
    .images{
        width:30vw;
        height:25vh;
        border-radius: 5% 5% 0% 0%;
    }
    .img-container{
        height: 280px;
        width:30vw;
        margin: auto;
        margin-top: 15px;
        border-radius: 5%;
    }
    .button{
        width:16vw;
        height:3.5vh;
    font-size: 15px;
    }
    .name{
        font-size: 25px;
    }
    .glass{
        font-size: 18px;
        margin-top: -15px;
    }

}

@media screen and (min-width: 801px) and (max-width: 900px) {
    .cocktail-list{
        display: grid;
        margin:auto;
        grid-template-columns: auto auto ;
        margin-bottom: 10px;
    }
    .images{
        width:30vw;
        height:40vh;
        border-radius: 5% 5% 0% 0%;
    }
    .img-container{
        height: 350px;
        width:30vw;
        margin: auto;
        margin-top: 15px;
        border-radius: 5%;
    }
    .button{
        width:16vw;
    font-size: 15px;
    }
    .name{
        font-size: 25px;
    }
    .glass{
        font-size: 18px;
        margin-top: -15px;
    }

}

@media screen and (min-width: 901px) and (max-width: 1000px){
    .cocktail-list{
        display: grid;
        margin:auto;
        row-gap: 4rem;
        grid-template-columns: auto auto auto;
        margin-bottom: 10px;
    }
    .images{
        width:27vw;
        height:30vh;
        /* border-radius: 50%; */
        border-radius: 5% 5% 0% 0%;
    }
    .img-container{
        height: 280px;
        width:27vw;
        margin: auto;
        margin-top: 15px;
        border-radius: 5%;
    }
    .button{
        width:8vw;
    font-size: 15px;
    }
    .name{
        font-size: 25px;
    }
    .glass{
        font-size: 18px;
        margin-top: -15px;
    }

}

@media screen and (min-width: 1001px) and (max-width: 1200px){
    .cocktail-list{
        display: grid;
        margin:auto;
        row-gap: 4rem;
        grid-template-columns: auto auto auto;
        margin-bottom: 10px;
    }
    .images{
        width:28vw;
        height:30vh;
        /* border-radius: 50%; */
        border-radius: 5% 5% 0% 0%;
    }
    .img-container{
        height: 270px;
        width:28vw;
        margin: auto;
        margin-top: 15px;
        border-radius: 5%;
    }
    .button{
        width:8vw;
    font-size: 15px;
    }
    .name{
        font-size: 25px;
    }
    .glass{
        font-size: 18px;
        margin-top: -15px;
    }

}

@media screen and (min-width: 1201px) and (max-width: 1300px){
    .cocktail-list{
        display: grid;
        margin:auto;
        row-gap: 4rem;
        grid-template-columns: auto auto auto;
        margin-bottom: 10px;
    }
    .images{
        width:30vw;
        height:35vh;
        /* border-radius: 50%; */
        border-radius: 5% 5% 0% 0%;
    }
    .img-container{
        height: 380px;
        width:30vw;
        margin: auto;
        margin-top: 15px;
        border-radius: 5%;
    }
    .button{
        width:8vw;
    font-size: 15px;
    }
    .name{
        font-size: 25px;
    }
    .glass{
        font-size: 18px;
        margin-top: -15px;
    }

}

@media screen and (min-width: 1301px) and (max-width: 1439px){
    .cocktail-list{
        display: grid;
        margin:auto;
        row-gap: 4rem;
        grid-template-columns: auto auto auto;
        margin-bottom: 10px;
    }
    .images{
        width:25vw;
        height:38vh;
        /* border-radius: 50%; */
        border-radius: 5% 5% 0% 0%;
    }
    .img-container{
        height: 360px;
        width:25vw;
        margin: auto;
        margin-top: 15px;
        border-radius: 5%;
    }
    .button{
        width:8vw;
    font-size: 15px;
    }
    .name{
        font-size: 25px;
    }
    .glass{
        font-size: 18px;
        margin-top: -15px;
    }

}

@media screen and (min-width: 1440px) and (max-width: 1951px){
    .cocktail-list{
        display: grid;
        margin:auto;
        row-gap: 4rem;
        grid-template-columns: auto auto auto;
        margin-bottom: 10px;
    }
    .images{
        width:25vw;
        height:26vh;
        border-radius: 5% 5% 0% 0%;
    }
    .img-container{
        height: 440px;
        width:25vw;
        margin: auto;
        margin-top: 15px;
        border-radius: 5%;
    }
    .button{
        width:8vw;
    font-size: 15px;
    }
    .name{
        font-size: 25px;
    }
    .glass{
        font-size: 18px;
        margin-top: -15px;
    }

}

@media screen and (min-width: 1952px) and (max-width: 2086px){
    .cocktail-list{
        display: grid;
        margin:auto;
        row-gap: 4rem;
        grid-template-columns: auto auto auto;
        margin-bottom: 10px;
    }
    .images{
        width:20vw;
        height:20vh;
        border-radius: 5% 5% 0% 0%;
    }
    .img-container{
        height: 440px;
        width:20vw;
        margin: auto;
        margin-top: 15px;
        border-radius: 5%;
    }
    .button{
        width:8vw;
    font-size: 15px;
    }
    .name{
        font-size: 25px;
    }
    .glass{
        font-size: 18px;
        margin-top: -15px;
    }

}

@media screen and (min-width: 2087px){
    .cocktail-list{
        display: grid;
        row-gap: 5rem;
        margin:auto;
        margin-top: 30px;
        grid-template-columns: auto auto auto;
        margin-bottom: 10px;
    }
    .images{
        width:20vw;
        height:20vh;
        border-radius: 5% 5% 0% 0%;
    }
    .img-container{
        background-color: black;
        height: 600px;
        width:20vw;
        margin: auto;
        border-radius: 5%;
    }
    .button{
        width:8vw;
    font-size: 15px;
    }
    .name{
        font-size: 25px;
    }
    .glass{
        font-size: 18px;
        margin-top: -15px;
    }

}

@media screen and (max-width: 462px) {
    .cocktail-list{
        display: grid;
        margin: auto;
        row-gap: 2rem;
        grid-template-columns: auto ;
    }
    .images{
        width:60vw;
        border-radius: 5% 5% 0% 0%;
        height:25vh;
    }
    .img-container{
        height: 270px;
        width:60vw;
        margin-top: 15px;
        border-radius: 5%;
    }
    .button{
        width:18vw;
    font-size: 15px;
    }
    .name{
        font-size: 25px;
    }
    .glass{
        font-size: 18px;
        margin-top: -15px;
    }

}